body{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}

.inputQue{
    background-color: darkgray;
    padding: 1em;
    position: relative;
}

.outputQue{
    background-color: aliceblue;
    padding: 1em;
}

.ipQue{
    border: thin solid gray;
    padding: 1em;
    width: 50%;
}

.queType{
    border: thin solid white;
    padding: 1em;
    margin-top: 1em;
    font-size: 1.2rem;
    cursor: pointer;
}

.queType:active{
    background-color: black;
    color: white;
}

.submitbtn{
    border: thin solid white;
    background-color: black;
    color: white;
    padding: 1em;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 8px;
}

.submitbtn:active{
    background-color: white;
    color: black;
}

.formedQue{
    border: thin solid black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1em;
}

.updownBtn{
    display: flex;
    flex-direction: column;
}

.crossBtn{
    position: absolute;
    right: 8px;
}